* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "HandelGo";
    src: url("./HandelGo.ttf") format("truetype");
}

button,
input {
    font-family: "HandelGo", Arial, sans-serif;
}

body {
    font-size: 20px;
    background-image: url(wp12639792-halo-4k-pc-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 58, 146, 0.85);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calc {
    margin-top: 110px;
    background-color: rgba(255, 255, 255, 0.199);
    height: auto;
    width: 300px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    align-content: start;
    border: solid 3px rgba(0, 174, 255, 0.76);
    box-shadow: 1px 1px 10px black;
}

button {
    font-size: 20px;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
    background-color: rgba(0, 174, 255, 0.678);
    border: none;
    box-shadow: 1px 1px 10px black;
    transition: transform 0.1s ease-in;
}

.btnAC {
    color: black;
    font-size: 20px;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
    border: none;
    background-color: rgba(255, 81, 0, 0.795);
}

.btnEq {
    font-size: 20px;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
    border: none;
    background-color: rgba(0, 255, 0, 0.863);
    color: black;
}

.clrimg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.btnclr {
    border: none;
    font-size: 20px;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
    background-color: rgb(223, 223, 0)
}

button:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

.btnEq:hover,
.btnAC:hover,
.btnclr:hover,
.clrimg:hover,
.btn:hover {
    color: white;
    cursor: pointer;
}

.clrimg:hover {
    filter: invert(1);
}

#display {
    border: solid 3px rgba(0, 174, 255, 0.76);
    grid-column: span 4;
    height: 50px;
    border-radius: 15px;
    position: relative;
    background-color: transparent;
    color: rgba(0, 174, 255, 0.76);
    padding: 10px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.377);
    box-shadow: 1px 1px 10px black;
}

#display:focus {
    outline: none;
}